---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Wishlist" description="Model collecting wishlist and progress tracker - coming soon.">
  <h1>Wishlist</h1>
  <div class="coming-soon">
    <p>
      A running list of kits and models I'd like to pick up next, plus a
      progress tracker for my collection.
    </p>
    <p><em>Coming soon.</em></p>
  </div>
</Layout>
